<html class=" grunticon" lang="en">
  <head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}styles/styleguide.css">
    <!-- <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->
  </head>

  <body class="sg">
    <div class="sg--constrained">
      <h1 class="sg-title">Style Guide</h1>
      <section class="sg-section">
        <h2 class="sg-section-title">Colors</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Color Palettes</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Primary</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.primary.one }};"><strong>$color-brand-primary-one</strong><span>{{ .Params.colors.primary.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.two }};"><strong>$color-brand-primary-two</strong><span>{{ .Params.colors.primary.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.three }};"><strong>$color-brand-primary-three</strong><span>{{ .Params.colors.primary.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.four }};"><strong>$color-brand-primary-four</strong><span>{{ .Params.colors.primary.four }}</span></li>
              <li class="sg-color sg-color-main" style="background:{{ .Params.colors.primary.five }};"><strong>$color-brand-primary-five</strong><span>{{ .Params.colors.primary.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.six }};"><strong>$color-brand-primary-six</strong><span>{{ .Params.colors.primary.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.seven }};"><strong>$color-brand-primary-seven</strong><span>{{ .Params.colors.primary.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.eight }};"><strong>$color-brand-primary-eight</strong><span>{{ .Params.colors.primary.eight }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.primary.nine }};"><strong>$color-brand-primary-nine</strong><span>{{ .Params.colors.primary.nine }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Secondary</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.secondary.one }};"><strong>$color-brand-secondary-one</strong><span>{{ .Params.colors.secondary.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.two }};"><strong>$color-brand-secondary-two</strong><span>{{ .Params.colors.secondary.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.three }};"><strong>$color-brand-secondary-three</strong><span>{{ .Params.colors.secondary.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.four }};"><strong>$color-brand-secondary-four</strong><span>{{ .Params.colors.secondary.four }}</span></li>
              <li class="sg-color sg-color-main" style="background:{{ .Params.colors.secondary.five }};"><strong>$color-brand-secondary-five</strong><span>{{ .Params.colors.secondary.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.six }};"><strong>$color-brand-secondary-six</strong><span>{{ .Params.colors.secondary.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.seven }};"><strong>$color-brand-secondary-seven</strong><span>{{ .Params.colors.secondary.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.eight }};"><strong>$color-brand-secondary-eight</strong><span>{{ .Params.colors.secondary.eight }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.secondary.nine }};"><strong>$color-brand-secondary-nine</strong><span>{{ .Params.colors.secondary.nine }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Tertiary</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.one }};"><strong>$color-brand-tertiary-one</strong><span>{{ .Params.colors.tertiary.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.two }};"><strong>$color-brand-tertiary-two</strong><span>{{ .Params.colors.tertiary.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.three }};"><strong>$color-brand-tertiary-three</strong><span>{{ .Params.colors.tertiary.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.four }};"><strong>$color-brand-tertiary-four</strong><span>{{ .Params.colors.tertiary.four }}</span></li>
              <li class="sg-color sg-color-main" style="background:{{ .Params.colors.tertiary.five }};"><strong>$color-brand-tertiary-five</strong><span>{{ .Params.colors.tertiary.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.six }};"><strong>$color-brand-tertiary-six</strong><span>{{ .Params.colors.tertiary.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.seven }};"><strong>$color-brand-tertiary-seven</strong><span>{{ .Params.colors.tertiary.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.eight }};"><strong>$color-brand-tertiary-eight</strong><span>{{ .Params.colors.tertiary.eight }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.tertiary.nine }};"><strong>$color-brand-tertiary-nine</strong><span>{{ .Params.colors.tertiary.nine }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Neutral</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.neutral.one }};"><strong>$color-neutral-one</strong><span>{{ .Params.colors.neutral.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.two }};"><strong>$color-neutral-two</strong><span>{{ .Params.colors.neutral.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.three }};"><strong>$color-neutral-three</strong><span>{{ .Params.colors.neutral.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.four }};"><strong>$color-neutral-four</strong><span>{{ .Params.colors.neutral.four }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.five }};"><strong>$color-neutral-five</strong><span>{{ .Params.colors.neutral.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.six }};"><strong>$color-neutral-six</strong><span>{{ .Params.colors.neutral.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.seven }};"><strong>$color-neutral-seven</strong><span>{{ .Params.colors.neutral.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.eight }};"><strong>$color-neutral-eight</strong><span>{{ .Params.colors.neutral.eight }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.nine }};"><strong>$color-neutral-nine</strong><span>{{ .Params.colors.neutral.nine }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.ten }};"><strong>$color-neutral-ten</strong><span>{{ .Params.colors.neutral.ten }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.eleven }};"><strong>$color-neutral-eleven</strong><span>{{ .Params.colors.neutral.eleven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.twelve }};"><strong>$color-neutral-twelve</strong><span>{{ .Params.colors.neutral.twelve }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.thirteen }};"><strong>$color-neutral-thirteen</strong><span>{{ .Params.colors.neutral.thirteen }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.fourteen }};"><strong>$color-neutral-fourteen</strong><span>{{ .Params.colors.neutral.fourteen }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.neutral.fifteen }};"><strong>$color-neutral-fifteen</strong><span>{{ .Params.colors.neutral.fifteen }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">State: Danger</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.one }};"><strong>$color-state-danger-one</strong><span>{{ .Params.colors.state.danger.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.two }};"><strong>$color-state-danger-two</strong><span>{{ .Params.colors.state.danger.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.three }};"><strong>$color-state-danger-three</strong><span>{{ .Params.colors.state.danger.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.four }};"><strong>$color-state-danger-four</strong><span>{{ .Params.colors.state.danger.four }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.five }};"><strong>$color-state-danger-five</strong><span>{{ .Params.colors.state.danger.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.six }};"><strong>$color-state-danger-six</strong><span>{{ .Params.colors.state.danger.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.seven }};"><strong>$color-state-danger-seven</strong><span>{{ .Params.colors.state.danger.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.danger.eight }};"><strong>$color-state-danger-eight</strong><span>{{ .Params.colors.state.danger.eight }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">State: Warning</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.one }};"><strong>$color-state-warning-one</strong><span>{{ .Params.colors.state.warning.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.two }};"><strong>$color-state-warning-two</strong><span>{{ .Params.colors.state.warning.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.three }};"><strong>$color-state-warning-three</strong><span>{{ .Params.colors.state.warning.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.four }};"><strong>$color-state-warning-four</strong><span>{{ .Params.colors.state.warning.four }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.five }};"><strong>$color-state-warning-five</strong><span>{{ .Params.colors.state.warning.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.six }};"><strong>$color-state-warning-six</strong><span>{{ .Params.colors.state.warning.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.seven }};"><strong>$color-state-warning-seven</strong><span>{{ .Params.colors.state.warning.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.warning.eight }};"><strong>$color-state-warning-eight</strong><span>{{ .Params.colors.state.warning.eight }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">State: Success</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.state.success.one }};"><strong>$color-state-warning-one</strong><span>{{ .Params.colors.state.success.one }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.two }};"><strong>$color-state-warning-two</strong><span>{{ .Params.colors.state.success.two }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.three }};"><strong>$color-state-warning-three</strong><span>{{ .Params.colors.state.success.three }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.four }};"><strong>$color-state-warning-four</strong><span>{{ .Params.colors.state.success.four }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.five }};"><strong>$color-state-warning-five</strong><span>{{ .Params.colors.state.success.five }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.six }};"><strong>$color-state-warning-six</strong><span>{{ .Params.colors.state.success.six }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.seven }};"><strong>$color-state-warning-seven</strong><span>{{ .Params.colors.state.success.seven }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.state.success.eight }};"><strong>$color-state-warning-eight</strong><span>{{ .Params.colors.state.success.eight }}</span></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Monochrome</h4>
            <ul class="sg-palette">
              <li class="sg-color" style="background:{{ .Params.colors.monochrome.white }};"><strong>$color-monochrome-white</strong><span>{{ .Params.colors.monochrome.white }}</span></li>
              <li class="sg-color" style="background:{{ .Params.colors.monochrome.black }};"><strong>$color-monochrome-black</strong><span>{{ .Params.colors.monochrome.black }}</span></li>

            </ul>
          </div>
        </article>
      </section>
      <section class="sg-section">
        <h2 class="sg-section-title">Typography</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Fonts</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Sans</h4>
            <p class="sg-font-style ff-sans">Regular</p>
            <h5 class="sg-font-title ff-sans">Homenaje</h5>
            <p class="sg-font-style ff-sans"><em>Italic</em></p>
            <h5 class="sg-font-title ff-sans"><em>Homenaje</em></h5>
            <p class="sg-font-style ff-sans"><strong>Bold</strong></p>
            <h5 class="sg-font-title ff-sans"><strong>Homenaje</strong></h5>
            <p class="sg-font-style ff-sans"><strong><em>Bold Italic</em></strong></p>
            <h5 class="sg-font-title ff-sans"><strong><em>Homenaje</em></strong></h5>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Headings</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">H1</h4>
            <h1>Heading 1 with a <a href="#">link</a></h1>
            <h4 class="sg-element-title">H2</h4>
            <h2>Heading 2 with a <a href="#">link</a></h2>
            <h4 class="sg-element-title">H3</h4>
            <h3>Heading 3 with a <a href="#">link</a></h3>
            <h4 class="sg-element-title">H4</h4>
            <h4>Heading 4 with a <a href="#">link</a></h4>
            <h4 class="sg-element-title">H5</h4>
            <h5>Heading 5 with a <a href="#">link</a></h5>
            <h4 class="sg-element-title">H6</h4>
            <h6>Heading 6 with a <a href="#">link</a></h6>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Page Title</h4>
            <h1 class="page-title">Heading 1 with a <a href="#">link</a></h1>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Block Title</h4>
            <h2 class="title--block">Block Title with a <a href="#">link</a></h2>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Article Title</h4>
            <h3 class="title--article">Article Title with a <a href="#">link</a></h3>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Body</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Paragraph</h4>
            <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Intro Paragraph</h4>
            <p class="intro">Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Blockquote</h4>
            <blockquote>
              <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
            </blockquote>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Quote with Citation</h4>
            <blockquote>
              <p>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.</p>
              <cite>Quote Source</cite>
            </blockquote>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Inline Elements</h3>
          </header>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">Strong</h4>
            <strong>Nullam</strong>
          </div>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">Emphasis</h4>
            <em>Nullam</em>
          </div>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">B</h4>
            <b>Nullam</b>
          </div>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">I</h4>
            <i>Nullam</i>
          </div>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">Abbreviation</h4>
            <abbr title="HyperText Markup Language">HTML</abbr>
          </div>
          <div class="sg-element sg-element-tight">
            <h4 class="sg-element-title">Code</h4>
            <code>Nullam</code>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Lists</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Ordered List</h4>
            <ol>
              <li>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis.</li>
              <li>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</li>
              <li>Ut in nulla enim.</li>
              <li>Phasellus molestie magna non est bibendum non.</li>
            </ol>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Unordered List</h4>
            <ul>
              <li>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis.</li>
              <li>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</li>
              <li>Ut in nulla enim.</li>
              <li>Phasellus molestie magna non est bibendum non.</li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Definition List</h4>
            <dl>
              <dt>Definition 1</dt>
              <dd>Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis.</dd>
              <dt>Definition 2</dt>
              <dd>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</dd>
              <dt>Definition 3</dt>
              <dd>Ut in nulla enim.</dd>
              <dd>Phasellus molestie magna non est bibendum non.</dd>
            </dl>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Meta</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Byline</h4>
            <p class="meta meta-byline">by <strong>Lisa Smith</strong></p>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Dateline</h4>
            <p class="meta meta-dateline">December 12th, 2014</p>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Field / Value</h4>
            <div class="field">
              <h4 class="field-label">Label:</h4>
              <div class="field-value">Value</div>
            </div>
            <div class="field">
              <h4 class="field-label">Label:</h4>
              <div class="field-value"><span>Value 1</span>, <span>Value 2</span>, <span>Value 3</span></div>
            </div>
          </div>
        </article>
      </section>
      <section class="sg-section">
        <h2 class="sg-section-title">Images</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Image Sizes</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Thumbnail</h4>
            <img src="http://placehold.it/72x60/e5e5e5/999999">
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Small</h4>
            <img src="http://placehold.it/180x120/e5e5e5/999999">
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Medium</h4>
            <img src="http://placehold.it/240x180/e5e5e5/999999">
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Large</h4>
            <img src="http://placehold.it/420x300/e5e5e5/999999">
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Image Styles</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Image with Caption</h4>
            <figure>
              <img src="http://placehold.it/1200x600/e5e5e5/999999">
              <figcaption>
                <p class="caption">Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
              </figcaption>
            </figure>
          </div>
        </article>
      </section>
      <section class="sg-section">
        <h2 class="sg-section-title">UI Elements</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Buttons</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Primary</h4>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Normal</h5>
              <p><a href="#" class="button--primary">Read More</a></p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Hover</h5>
              <p><a href="#" class="button--primary button--hover">Read More</a></p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Active</h5>
              <p><a href="#" class="button--primary button--active">Read More</a></p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Disabled</h5>
              <p><a href="#" class="button--primary button--disabled">Read More</a></p>
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Links</h4>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Normal</h5>
              <p>…Vivamus <a href="#">hendrerit</a> arcu…</p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Hover</h5>
              <p>…Vivamus <a href="#" class="link--hover">hendrerit</a> arcu…</p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Active</h5>
              <p>…Vivamus <a href="#" class="link--active">hendrerit</a> arcu…</p>
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Read More</h4>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Normal</h5>
              <p><a href="#" class="link--more">Read More</a></p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Hover</h5>
              <p><a href="#" class="link--more link--hover">Read More</a></p>
            </div>
            <div class="sg-element-column">
              <h5 class="sg-element-column-title">Active</h5>
              <p><a href="#" class="link--more link--active">Read More</a></p>
            </div>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">General Navigation</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Tabs</h4>
            <ul class="nav nav-tabs">
              <li class="nav--tab active"><a href="#" class="">Item 1</a></li>
              <li class="nav--tab"><a href="#" class="">Item 2</a></li>
              <li class="nav--tab"><a href="#" class="">Item 3</a></li>
              <li class="nav--tab nav--tab--hover"><a href="#" class="">Item 4</a></li>
              <li class="nav--tab nav--tab--active"><a href="#" class="">Item 5</a></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Tabs Large</h4>
            <ul class="nav nav-tabs nav-tabs--large">
              <li class="nav--tab active"><a href="#" class="">Item 1</a></li>
              <li class="nav--tab"><a href="#" class="">Item 2</a></li>
              <li class="nav--tab"><a href="#" class="">Item 3</a></li>
              <li class="nav--tab nav--tab--hover"><a href="#" class="">Item 4</a></li>
              <li class="nav--tab nav--tab--active"><a href="#" class="">Item 5</a></li>
            </ul>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Pager</h4>
            <ul class="pager pager-mini">
              <li class="pager-previous"><a href="#">Previous</a></li>
              <li class="pager-next"><a href="#">Next</a></li>
            </ul>
            <ul class="pager">
              <li class="pager-first"><a href="#">First</a></li>
              <li class="pager-previous"><a href="#">Previous</a></li>
              <li class="pager-item"><a href="#">1</a></li>
              <li class="pager-item"><a href="#">2</a></li>
              <li class="pager-current"><span>3</span></li>
              <li class="pager-item"><a href="#">4</a></li>
              <li class="pager-item"><a href="#">5</a></li>
              <li class="pager-ellipsis">…</li>
              <li class="pager-next"><a href="#">Next</a></li>
              <li class="pager-last"><a href="#">Last</a></li>
            </ul>
          </div>
        </article>
      </section>
      <section class="sg-section">
        <h2 class="sg-section-title">Forms</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Text Fields</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Text Input</h4>
            <div class="field-container">
              <label for="text">Text Input <abbr title="Required" class="required">*</abbr></label>
              <input id="text" placeholder="Text Input" type="text">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Password</h4>
            <div class="field-container">
              <label for="password">Password</label>
              <input id="password" placeholder="Type your Password" type="password">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Web Address</h4>
            <div class="field-container">
              <label for="webaddress">Web Address</label>
              <input id="webaddress" placeholder="http://yoursite.com" type="url">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Email Address</h4>
            <div class="field-container">
              <label for="emailaddress">Email Address</label>
              <input id="emailaddress" placeholder="name@email.com" type="email">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Search</h4>
            <div class="field-container">
              <label for="search">Search</label>
              <input id="search" placeholder="Enter Search Term" type="search">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Number Input</h4>
            <div class="field-container">
              <label for="number">Number Input <abbr title="Required" class="required">*</abbr></label>
              <input id="number" placeholder="Enter a Number" pattern="[0-9]*" type="number">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Textarea</h4>
            <div class="field-container">
              <label for="textarea">Textarea</label>
              <textarea id="textarea" rows="8" cols="48" placeholder="Enter your message here"></textarea>
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Error Input</h4>
            <div class="field-container">
              <label class="error">Error Input</label>
              <input class="is-error" placeholder="Text Input" type="text">
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Valid</h4>
            <div class="field-container">
              <label class="valid">Valid</label>
              <input class="is-valid" placeholder="Text Input" type="text">
            </div>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Select Menu</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Select</h4>
            <div class="field-container field--select">
              <label for="select">Select</label>
              <div class="custom-select">
                <select id="select">
                  <optgroup label="Option Group">
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
        </article>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Options</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Checkboxes</h4>
            <div class="field-container options form-type-checkboxes">
              <legend>Checkbox <abbr title="Required" class="required">*</abbr></legend>
              <ul>
                <li class="form-type-checkbox"><label for="checkbox1"><input id="checkbox1" name="checkbox" checked="checked" type="checkbox"> Choice A</label></li>
                <li class="form-type-checkbox"><label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label></li>
                <li class="form-type-checkbox"><label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label></li>
              </ul>
            </div>
          </div>
          <div class="sg-element">
            <h4 class="sg-element-title">Radio Buttons</h4>
            <div class="field-container options form-type-radios">
              <legend>Radio</legend>
              <ul>
                <li class="form-type-radio"><label for="radio1"><input id="radio1" name="radio" class="radio" checked="checked" type="radio"> Option 1</label></li>
                <li class="form-type-radio"><label for="radio2"><input id="radio2" name="radio" class="radio" type="radio"> Option 2</label></li>
                <li class="form-type-radio"><label for="radio3"><input id="radio3" name="radio" class="radio" type="radio"> Option 3</label></li>
              </ul>
            </div>
          </div>
        </article>
      </section>
      <section class="sg-section">
        <h2 class="sg-section-title">Tables</h2>
        <article class="sg-item">
          <header class="sg-item-header">
            <h3 class="sg-item-title">Basic Table</h3>
          </header>
          <div class="sg-element">
            <h4 class="sg-element-title">Table</h4>
            <table>
              <thead>
                <tr>
                  <th>Table Heading 1</th>
                  <th>Table Heading 2</th>
                  <th>Table Heading 3</th>
                  <th>Table Heading 4</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Table Footer 1</th>
                  <th>Table Footer 2</th>
                  <th>Table Footer 3</th>
                  <th>Table Footer 4</th>
                </tr>
              </tfoot>
              <tbody>
                <tr class="odd">
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                </tr>
                <tr class="even">
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                </tr>
                <tr class="odd">
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                </tr>
                <tr class="even">
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
      </section>
    </div>


  </body>
</html>
